Flask==2.3.2
Flask-Session==0.8.0
gunicorn==22.0.0

chromadb==0.6.3
numpy==1.25.0
pandas==1.5.3
requests==2.32.3
bcrypt==4.2.1
faster-whisper==1.1.1
gTTS==2.5.4
pydub==0.25.1
Resemblyzer==0.1.4
opencv-python==4.8.1.78
soundfile==0.13.1

hangul-romanize==0.1.0
anyascii==0.3.3
g2pkk==0.1.2
scipy==1.11.2
onnxruntime
