Flask==2.3.2
Flask-Session==0.8.0
mysql-connector-python==9.2.0
deepface==0.0.93
chromadb==0.6.3
numpy==1.26.4
pandas==1.5.3
requests==2.32.3
bcrypt==4.2.1
faster-whisper==1.1.1
gTTS==2.5.4
pydub==0.25.1
TTS==0.22.0
Resemblyzer==0.1.4
opencv-python  # since deepface requires it
